<br><br>
<%= image_tag @post.image.url %>
<br>
<%= @post.description %>

<%= render 'tags/form' %>

<ul>
<% @post.tags.each do |tag| %>
  <li><%= tag.user.email %></li>
<% end %>
</ul>

<%= render '/comments/form' %>
